// @use '../src/style/index.scss';
@use '../style/text-input.scss';
@use '../style/number-input.scss';
@use '../style/button.scss';
@use '../style/editable-field.scss';

body {
    #content {
        max-width: 50%;
        margin-bottom: 10rem;
    }
}

div.button {
    margin-top: 1rem;
}

div.number {
    width: 100vw;
    height: 4rem;
    margin-bottom: 2rem;
}

.form-stuff {
    .btn {
        margin-bottom: 1rem;
    }
}

.editing {
    margin-bottom: 1rem;
}

